* {
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x:hidden;
    background: #fff;
}
a {
    color: #fff ;
    text-decoration: none;
}
i {
    color: #fff;
}

header a i:hover, main .title a i:hover {
    border-radius: 100%;
    transition: ease-out .3s;
    background: #176C6A;
}
main,footer {
    padding: 10px 20px;

}

.wrapper .row {
    display: flex;
    align-items: start;
}

/* 

===========================
Side bar
===========================

*/

.menu a {
    border-radius: 10px;
}

aside .menu a:hover {
    color: #000;
    background: #176C6A;
    transition: ease-out .3s;
}
aside .menu a:hover i {
    color: #000;

}

#sidebar {
    padding:10px 30px;
    position: sticky;
    top: 0;
    height: 100vh;
    background:#080705 ;
    /* border-top-right-radius: 20px; */
}

#logo {
    display: flex;
    align-items: center;
}
#logo:hover {
    color: #fff;
}
#logo b {
    font-size: 1.5rem;
    padding-left: 10px;
    
}

/* menu */
.menu {
    display: flex;
    flex-direction: column;
}
.menu h6 {
    margin: 20px 0;
    font-weight: bold;
    color: #fff;
}
.menu_title {
    display: flex;
    align-items: center;
    padding: 10px 5px;
}
.menu_title b {
    padding-left: 10px;
}



/*

===========================
Header
===========================

*/

#header_content_footer {
    padding: 0;
    background: #151829;
}


header {
    background: transparent;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1;
}
header.scrolled {
    background: #1518297c;
    backdrop-filter: blur(50px);
}
.userName {
    color: #fff;
}
/* iteams's header  */
.back_next {
    display: flex;
    width: 10%;
}
.search {
    width: 70%;
    display: flex;
    align-items: center;
}


#search{
    width: 260%;
    background: #fff;
    border: 1px solid #fff;
    padding: 5px 50px;
    border-radius: 20px;
}
#searchIcon {
    position: relative;
    top: 2px;
    left: 35px;
}

.user_profile {
    display: flex;
    align-items: center;
    justify-content: end;
}
#myDropdownToggle::after {
    display: none;
}




/*
===========================
main  
===========================

*/
main {
    background: #151829;
}
.foryou, .continue_trending {
    margin-bottom: 30px;
}
.foryou a {
    color: #fff;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.title a:hover {
    text-decoration: underline;
    color: #fff;
}
main .songs_foryou .item {
    padding: 20px;
    border-radius: 10px;
    background: #013B44;
}
main .songs_foryou .item:hover {
    background: #176C6A;
    transition: ease-out .2s;

}
main .songs_foryou img {
    border-radius: 10px;
    width: 100%;
}
main .songs_foryou .item .img {
    position: relative;
    
}
#icon_play {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 100%;
    scale: 0;
    transition: ease .3s;
}
/* hover  play icon */
main .songs_foryou .item:hover #icon_play { 
    bottom: 20px;
    right: 20px;
    scale: 1;
    background: #191414;

}
#icon_play:hover i.bx-play{
    rotate: z 360deg;
    transition: ease-out .3s;
    border-radius: 100%;
    background: #176C6A;
    color: #191414;
}

/* active */
#home {
    border-radius: 10px;
    color: #000;
    background: #176C6A;
}
#home i {
    color: #000;
}

/*Countinue and trending  */

.continue_listening {
    padding: 0 20px;
}
.continue_listening .content {
    background: #fff;
    border-radius: 10px;
}
.continue_listening .image img{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.continue_listening .detail {
    padding-top: 10px;
}
.continue_listening .detail h5 {
    color: #000;
}
.continue_listening .detail h6{
    color: #a8a8a8;
}
.continue_listening .detail h5:hover {
    text-decoration: underline;
}
.continue_listening .detail h6:hover {
    text-decoration: underline;
}

/* continue trending singers */
.trending_singers .image img {
    border-radius: 100%;
}
.trending_singers .singer_name {
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    color: #000;
}
.trending_singers .singer_name a:hover {
    color: #000;
    text-decoration: underline;
}
/* 

===========================
Footer
===========================

*/

footer {
    background: #080705;
    display: flex;
    justify-content: space-between;
    max-height: 30vh;
    
}
/* social */
.social {
    display: flex;
    justify-content: space-around;
}
.social > div > a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #444444;
    background: #444444;
    border-radius: 100%;
    margin: 0 10px;
    transition: ease .3s;
}
.social >div > a > i {
    padding: 10px;
    color: #fff;
}

/* hover  social */
.social a.facebook:hover {
    border: 1px solid blue;
    background: blue;
}
.social a.insta:hover {
    border: 1px solid palevioletred;
    background: palevioletred;
}
.social a.twitter:hover {
    border: 1px solid royalblue;
    background: royalblue;
}


/* contact */
.contact {
    display: flex;
}
.contact > div.communities {
    padding: 0 70px;
}
.contact .title {
    color: #fff;
}
.contact .subtitle a {
    color: #a8a8a8;
}
.contact .subtitle a:hover {
    text-decoration: underline;
}


/* Play music */
.play_music {
    position: sticky;
    bottom: 0;
    background: #080705;
    z-index: 10;
}
.play_music .wrapper {
    display: flex;
    justify-content: space-between;
    height: 75px;
    padding: 0px 20px;
}
.play_music .wrapper i {
    font-size: 20px;
    cursor: pointer;
}

/* Left */
#heart.clicked {
    transition: .5s;
    color: #176C6A;
}
.play_music .wrapper .left {
    width: 25%;
    display: flex;
    align-items: center;
    gap: 20px;
}


.play_music .wrapper .left .desc .singers a {
    font-size: 12px;
    color: #a1a1a1;
    
}
.play_music .wrapper .left .desc .singers a:hover {
    color: #fff;
    text-decoration: underline;
    
}

.play_music .wrapper .left .image_music {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.play_music .wrapper .left .image_music img {
    border-radius: 5px;
}

/* mid */
.play_music .wrapper .mid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.play_music .wrapper .mid .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.play_music .wrapper .mid .controls button {
    background: transparent;
    border: none;
}
.play_music .wrapper .mid .controls i.bx-shuffle,
.play_music .wrapper .mid .controls i.bx-repost {
    font-size: 22px;
}
.play_music .wrapper .mid .controls i {
    font-size: 30px;
}
.play_music .wrapper .mid .times {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.play_music .wrapper .mid .times .left_time,
.play_music .wrapper .mid .times .right_time
{
    height: 5px;
    font-size: 12px;
}
.play_music .wrapper .mid .btn-play {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: coral;
    cursor: pointer;
    border: none;
}

.btn-play span {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translateY(-50%);
    width: 5px;
    height: 25px;
    border-radius: 2px;
    background: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: .3s;
}

.btn-play span:nth-child(2) {
    left: 55%;
    transform-origin: center;
}
.btn-play.pause span:nth-child(2) {
    transform: translateY(-50%) scaleY(0);
}
.btn-play.pause span:nth-child(1) {
    width: 35%;
    left: 53%;
    transform: translate(-50%,-50%);
    border-radius: 0;
    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0% 100%);
}

input[type="range"].seek_bar {
    width: 450px;
    height: 5px;
    border-radius: 30px;
    cursor: pointer;
    background: #fff;
    -webkit-appearance: none;
    overflow: hidden;
}
.seek_bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 20px;
    background: #176C6A;
    box-shadow: -400px 0 0 400px #176C6A;

}

/* right */
.bxs-volume-full {
    position: relative;
}
.bxs-volume-full::after {
    content: '' ;
    width: 30px;
    height: 2px;
    position: absolute;
    background: #fff;
    rotate: z 45deg;
    left: -15%;
    bottom: 40%;
    transition: .3s;
    scale: 0;
}
.bxs-volume-full.mute::after {
    scale: 1;
}
input[type="range"].volume_bar {
    width: 100%;
    height: 4px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: #fff;
    -webkit-appearance: none;
    overflow: hidden;
}
.volume_bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 20px;
    background: #176C6A;
    box-shadow: -400px 0 0 400px #176C6A;

}
.play_music .wrapper .right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.volume_bar {
    width: 100px;
    height: 3px;
    border: 1px solid #5c5c5c;
    background: #5c5c5c;
    border-radius: 10px;
    position: relative;
}

.play_music .wrapper .right .volume_bar .circle {
    position: absolute;
    top: -6px;
    left: -6px;
}
.play_music .wrapper .right .volume_bar .circle i {
    font-size: 14px;
    display: none;  
}

.play_music .wrapper .right .volume_bar:hover #circle_times_volume{
    display: block;
}

.play_music .wrapper .right .volume_and_bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.play_music .wrapper .right i {
    font-size: 22px;
}